body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:524px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:100px;
  width:449px;
  height:42px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u2240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:209px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:343px;
  width:50px;
  height:80px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u2244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:353px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:269px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0000FF;
}
#u2246_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u2246_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:72px;
  width:18px;
  height:18px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:383px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0000FF;
}
#u2248_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u2248_seg1 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:493px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:413px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0000FF;
}
#u2252_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u2252_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:68px;
  width:18px;
  height:18px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:773px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u2256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:637px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:553px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0000FF;
}
#u2258_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u2258_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:72px;
  width:18px;
  height:18px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:773px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:803px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0000FF;
}
#u2262_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u2262_seg1 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:697px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2264_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u2264_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:64px;
  width:18px;
  height:18px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:667px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2266_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u2266_seg1 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-288px;
  width:8px;
  height:292px;
}
#u2266_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-288px;
  width:114px;
  height:8px;
}
#u2266_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-293px;
  width:18px;
  height:18px;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-152px;
  width:100px;
  word-wrap:break-word;
}
#u2268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:906px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:833px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2270_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u2270_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:61px;
  width:18px;
  height:18px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
