body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:222px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:304px;
  width:1034px;
  height:222px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:103px;
  width:1030px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:142px;
  background:inherit;
  background-color:rgba(204, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:352px;
  width:100px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:188px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:828px;
  width:1060px;
  height:188px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1026px;
  width:300px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:192px;
  width:172px;
  height:70px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:100px;
  width:193px;
  height:41px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:142px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:352px;
  width:100px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:142px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:352px;
  width:100px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:142px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:352px;
  width:100px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:352px;
  width:100px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:352px;
  width:100px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:142px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:352px;
  width:100px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:867px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:304px;
  width:539px;
  height:867px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:426px;
  width:535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:142px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:352px;
  width:100px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:96px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:214px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:596px;
  width:967px;
  height:214px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:99px;
  width:963px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:274px;
  width:310px;
  height:60px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:310px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:292px;
  width:51px;
  height:29px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:565px;
  width:300px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:294px;
  width:300px;
  height:21px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:352px;
  width:378px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:63px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:362px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:632px;
  width:100px;
  height:362px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:96px;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:134px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:517px;
  width:378px;
  height:134px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:124px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:677px;
  width:378px;
  height:124px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:342px;
  width:79px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:379px;
  width:110px;
  height:99px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:106px;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:1344px;
  top:379px;
  width:110px;
  height:99px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:106px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:379px;
  width:110px;
  height:99px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:106px;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:507px;
  width:53px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:546px;
  width:113px;
  height:88px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:109px;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:88px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:546px;
  width:231px;
  height:88px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:227px;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:668px;
  width:53px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:698px;
  width:113px;
  height:88px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:109px;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:88px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:698px;
  width:231px;
  height:88px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:227px;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:124px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:827px;
  width:378px;
  height:124px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:818px;
  width:53px;
  height:19px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:88px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:848px;
  width:113px;
  height:88px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:109px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:88px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:848px;
  width:231px;
  height:88px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:227px;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:977px;
  width:378px;
  height:49px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:374px;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:968px;
  width:1px;
  height:16px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:1037px;
  width:378px;
  height:49px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:374px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:362px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:632px;
  width:100px;
  height:362px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:96px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:362px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:632px;
  width:100px;
  height:362px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:96px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:362px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:632px;
  width:100px;
  height:362px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:96px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:362px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:632px;
  width:100px;
  height:362px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:96px;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:142px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:632px;
  width:202px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:198px;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:632px;
  width:100px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:96px;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:142px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:852px;
  width:100px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:96px;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:142px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:852px;
  width:202px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:198px;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:629px;
  background:inherit;
  background-color:rgba(0, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:1607px;
  top:517px;
  width:89px;
  height:629px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:305px;
  width:85px;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:142px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:1607px;
  top:352px;
  width:89px;
  height:142px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:85px;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:1097px;
  width:378px;
  height:49px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:374px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:414px;
  width:51px;
  height:29px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:689px;
  width:51px;
  height:29px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:909px;
  width:51px;
  height:29px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:29px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:662px;
  width:283px;
  height:29px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:546px;
  width:51px;
  height:29px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
