body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2384px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:100px;
  width:202px;
  height:42px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:209px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:343px;
  width:50px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u2095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:353px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:383px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2097_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u2097_seg1 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:269px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2099_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u2099_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:72px;
  width:18px;
  height:18px;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:759px;
  width:110px;
  height:70px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u2103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:890px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:829px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2105_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u2105_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:49px;
  width:18px;
  height:18px;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:886px;
  width:110px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:920px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2109_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u2109_seg1 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:9px;
}
#u2109_seg2 {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:-3px;
  width:19px;
  height:8px;
}
#u2109_seg3 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-8px;
  width:18px;
  height:18px;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:890px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:920px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2113_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u2113_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  -webkit-box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:890px;
  width:18px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2115_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  -webkit-box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2115.mouseOver {
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u2117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:890px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:920px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2119_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u2119_seg1 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:1799px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1005px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:956px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2125_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u2125_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:18px;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1219px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:1065px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2129_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:158px;
}
#u2129_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:142px;
  width:18px;
  height:18px;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:68px;
  width:100px;
  word-wrap:break-word;
}
#u2131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1425px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:1279px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2133_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:150px;
}
#u2133_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:134px;
  width:18px;
  height:18px;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:65px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:890px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2135_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u2135_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-100px;
  width:8px;
  height:99px;
}
#u2135_seg2 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-100px;
  width:18px;
  height:8px;
}
#u2135_seg3 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-100px;
  width:18px;
  height:8px;
}
#u2135_seg4 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-100px;
  width:18px;
  height:8px;
}
#u2135_seg5 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-100px;
  width:18px;
  height:8px;
}
#u2135_seg6 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-100px;
  width:18px;
  height:8px;
}
#u2135_seg7 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-100px;
  width:18px;
  height:8px;
}
#u2135_seg8 {
  border-width:0px;
  position:absolute;
  left:-353px;
  top:-100px;
  width:297px;
  height:8px;
}
#u2135_seg9 {
  border-width:0px;
  position:absolute;
  left:-359px;
  top:-105px;
  width:18px;
  height:18px;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:-178px;
  top:-104px;
  width:100px;
  word-wrap:break-word;
}
#u2137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:1247px;
  width:110px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u2139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:1162px;
  width:110px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u2141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:1077px;
  width:110px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:950px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2143_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u2143_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:38px;
  width:332px;
  height:8px;
}
#u2143_seg2 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:38px;
  width:8px;
  height:259px;
}
#u2143_seg3 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:285px;
  width:18px;
  height:18px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:950px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2145_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u2145_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:38px;
  width:169px;
  height:8px;
}
#u2145_seg2 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:38px;
  width:8px;
  height:174px;
}
#u2145_seg3 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:200px;
  width:18px;
  height:18px;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:950px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2147_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:131px;
}
#u2147_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:115px;
  width:18px;
  height:18px;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:55px;
  width:100px;
  word-wrap:break-word;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:1107px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2149_seg0 {
  border-width:0px;
  position:absolute;
  left:-357px;
  top:-4px;
  width:357px;
  height:8px;
}
#u2149_seg1 {
  border-width:0px;
  position:absolute;
  left:-357px;
  top:-157px;
  width:8px;
  height:161px;
}
#u2149_seg2 {
  border-width:0px;
  position:absolute;
  left:-362px;
  top:-163px;
  width:18px;
  height:18px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:-305px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:1192px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2151_seg0 {
  border-width:0px;
  position:absolute;
  left:-518px;
  top:-4px;
  width:518px;
  height:8px;
}
#u2151_seg1 {
  border-width:0px;
  position:absolute;
  left:-518px;
  top:-242px;
  width:8px;
  height:246px;
}
#u2151_seg2 {
  border-width:0px;
  position:absolute;
  left:-523px;
  top:-248px;
  width:18px;
  height:18px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:-428px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:1277px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2153_seg0 {
  border-width:0px;
  position:absolute;
  left:-681px;
  top:-4px;
  width:681px;
  height:8px;
}
#u2153_seg1 {
  border-width:0px;
  position:absolute;
  left:-681px;
  top:-327px;
  width:8px;
  height:331px;
}
#u2153_seg2 {
  border-width:0px;
  position:absolute;
  left:-686px;
  top:-333px;
  width:18px;
  height:18px;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:-552px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:1084px;
  width:29px;
  height:20px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:1343px;
  top:1169px;
  width:29px;
  height:20px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:1035px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2159_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:266px;
  height:8px;
}
#u2159_seg1 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:-119px;
  width:8px;
  height:123px;
}
#u2159_seg2 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:-119px;
  width:32px;
  height:8px;
}
#u2159_seg3 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:-124px;
  width:18px;
  height:18px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:2075px;
  top:1425px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:1543px;
  top:1425px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:1455px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2165_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:1057px;
  height:8px;
}
#u2165_seg1 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:1485px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2167_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:247px;
}
#u2167_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:239px;
  width:398px;
  height:8px;
}
#u2167_seg2 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:239px;
  width:8px;
  height:75px;
}
#u2167_seg3 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:302px;
  width:18px;
  height:18px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:234px;
  width:100px;
  word-wrap:break-word;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:950px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2169_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:853px;
}
#u2169_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:837px;
  width:18px;
  height:18px;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:416px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:950px;
  width:29px;
  height:20px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:1726px;
  top:1420px;
  width:110px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:1455px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2175_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u2175_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:1593px;
  top:1485px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2177_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:247px;
}
#u2177_seg1 {
  border-width:0px;
  position:absolute;
  left:-767px;
  top:239px;
  width:771px;
  height:8px;
}
#u2177_seg2 {
  border-width:0px;
  position:absolute;
  left:-767px;
  top:239px;
  width:8px;
  height:75px;
}
#u2177_seg3 {
  border-width:0px;
  position:absolute;
  left:-772px;
  top:302px;
  width:18px;
  height:18px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:-346px;
  top:234px;
  width:100px;
  word-wrap:break-word;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:1219px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1249px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2181_seg0 {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:-4px;
  width:57px;
  height:8px;
}
#u2181_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:1899px;
  top:1425px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:1836px;
  top:1455px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2185_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u2185_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:1999px;
  top:1455px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2187_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u2187_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:1899px;
  top:1560px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:1949px;
  top:1485px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2191_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u2191_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:63px;
  width:18px;
  height:18px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  word-wrap:break-word;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:1899px;
  top:1590px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2193_seg0 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:-4px;
  width:122px;
  height:8px;
}
#u2193_seg1 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:-100px;
  width:8px;
  height:104px;
}
#u2193_seg2 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:-106px;
  width:18px;
  height:18px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:-159px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:1949px;
  top:1620px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2195_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u2195_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:111px;
}
#u2195_seg2 {
  border-width:0px;
  position:absolute;
  left:-1123px;
  top:104px;
  width:1127px;
  height:8px;
}
#u2195_seg3 {
  border-width:0px;
  position:absolute;
  left:-1123px;
  top:104px;
  width:8px;
  height:75px;
}
#u2195_seg4 {
  border-width:0px;
  position:absolute;
  left:-1128px;
  top:167px;
  width:18px;
  height:18px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:-591px;
  top:100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:1935px;
  top:1550px;
  width:29px;
  height:20px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:2255px;
  top:1425px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:2175px;
  top:1455px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2201_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u2201_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:2125px;
  top:1485px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2203_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:247px;
}
#u2203_seg1 {
  border-width:0px;
  position:absolute;
  left:-1299px;
  top:239px;
  width:1303px;
  height:8px;
}
#u2203_seg2 {
  border-width:0px;
  position:absolute;
  left:-1299px;
  top:239px;
  width:8px;
  height:75px;
}
#u2203_seg3 {
  border-width:0px;
  position:absolute;
  left:-1304px;
  top:302px;
  width:18px;
  height:18px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:-612px;
  top:235px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:184px;
  width:50px;
  height:30px;
  overflow:hidden;
  visibility:hidden;
}
#u2205_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2205_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u2205_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2205_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u2205_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2205_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u2205_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2205_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u2205_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2205_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:2337px;
  height:6px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1364px;
  width:2334px;
  height:3px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:2330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:1317px;
  width:73px;
  height:24px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:1393px;
  width:73px;
  height:24px;
  font-family:'MicrosoftYaHei-Bold', 'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  -webkit-box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:1420px;
  width:18px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2222_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  -webkit-box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2222.mouseOver {
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u2224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:490px;
  width:110px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:413px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2226_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u2226_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:65px;
  width:18px;
  height:18px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:622px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:560px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2230_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u2230_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:50px;
  width:18px;
  height:18px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:652px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2232_seg0 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-4px;
  width:144px;
  height:8px;
}
#u2232_seg1 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-4px;
  width:8px;
  height:238px;
}
#u2232_seg2 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:222px;
  width:18px;
  height:18px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:682px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u2234_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u2234_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:65px;
  width:18px;
  height:18px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u2236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  -webkit-box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  box-shadow:2px 2px 5px rgba(255, 102, 0, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:516px;
  width:18px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2236_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  -moz-box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  -webkit-box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  box-shadow:1px 1px 1px rgba(255, 102, 0, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2236.mouseOver {
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
